{% extends 'base.html' %}
{% block title %} Homepage{% endblock %}
{% block nav_title %} WELCOME {{username}} {% endblock %}
{% block nav_items %}
<div class="collapse navbar-collapse justify-content-end sticky-top" id="navbarNav">
    <ul class="navbar-nav">
        <li class="nav-item">
            <form method="post" action="/customer_login/after_login">
                    {% csrf_token %}
                <input type="hidden" value="{{role}}" name="role">
                <input type="hidden" value="{{username}}" name="username">
                <button style="background-color:transparent; border:0;" class="nav-link active">Home</button>
             </form>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle"  id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">More Options</a>
           <div class="dropdown-menu bg-dark" aria-labelledby="navbarDropdownMenuLink">

            <a class="dropdown-item bg-dark">
                <form method="post" action="/customer_login/cust_profile">
                    {% csrf_token %}
                    <input type="hidden" value="{{role}}" name="role">
                    <input type="hidden" value="{{username}}" name="username">
                    <button style="background-color:transparent; border:0;" class="nav-link">My Profile</button>
                </form>
            </a>

            <a class="dropdown-item bg-dark">
                <form method="post" action="/customer_login/change_password">
                    {% csrf_token %}
                    <input type="hidden" value="{{role}}" name="role">
                    <input type="hidden" name="username" value="{{username}}">
                    <button style="background-color:transparent; border:0;" class="nav-link" id="chngpass">Change Password</button>
                </form>
            </a>

            <a class="dropdown-item bg-dark">
                 <form method="post" action="/customer_login/cust_feedback">
                       {% csrf_token %}
                     <input type="hidden" value="{{role}}" name="role">
                     <input type="hidden" value="{{username}}" name="username">
                     <button style="background-color:transparent; border:0;" class="nav-link">Give Feedback</button>
                 </form>
            </a>

           </div>
        </li>


        <li class="nav-items">
            <form method="post" action="/cart/cart_orders">
                      {% csrf_token %}
                <input type="hidden" value="{{role}}" name="role">
                <input type="hidden" value="{{username}}" name="username">
                <button type="submit" class="btn btn-warning" >My Cart</button>
            </form>
        </li> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

        <li>
          <form class="form-inline" method="post" action="/customer_login/on_search">
               {% csrf_token %}
              <input type="hidden" value="{{role}}" name="role">
              <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="srch">
              <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
   &nbsp;&nbsp;&nbsp;
          <select name="sel_cr" class="form-control mr-sm-2">
            <option value="selection_criteria" name="sel_cr">Search By</option>
            <option value="category" name="sel_cr">Category</option>
            <option value="book_name" name="sel_cr"> Book Name</option>
            <option value="upl" name="sel_cr">Price not more than</option>
            <option value="lpl" name="sel_cr">Price not less than</option>
          </select>
            <input type="hidden" name="username" value="{{username}}">
          </form>
        </li>

        <li class="nav-item">
          <form method="post" action="/customer_login/about_us">
                    {% csrf_token %}
              <input type="hidden" value="{{role}}" name="role">
              <input type="hidden" value="{{username}}" name="username">
            <button type="submit" class="nav-link" style="background-color:transparent; border:0;">About</button>
          </form>
        </li>

        <li class="nav-item">
          <form method="post" action="/customer_login/contact_us">
                    {% csrf_token %}
              <input type="hidden" value="{{role}}" name="role">
              <input type="hidden" value="{{username}}" name="username">
              <button type="submit" class="nav-link" style="background-color:transparent; border:0;">Contact Us</button>
          </form>
        </li>

        <li class="nav-item">
            <form method="post" action="/customer_login/user_logout">
                       {% csrf_token %}
                <input type="hidden" value="{{role}}" name="role">
                <button  type="submit" class="nav-link" id="cust_logout" style="background-color:transparent; border:0;">Logout</button>
                <input type="hidden" value="{{username}}" name="username">
            </form>
        </li>

   </ul>
</div>
{% endblock %}
{% block body%}

<center><h1>{{empty_condition}}</h1></center>
{% for product,cat in products %}

<br>
<center><div style="background-color:red; width:200px; border-radius:15px;"><u><h1 style="color:black;">{{cat}}</h1></u></div></center>
<br><br>


<div class="row mb-4 ml-4">
{% for i in product%}
<div class="col-xs-3 col-sm-3 col-md-3">
<div class="card" style="width: 18rem; height:auto">
       {% ifequal 0 i.availableQuantity %}
      <div class="alert alert-danger" role="alert">
<center><strong>OUT OF STOCK</strong></center>
</div>
      {% endifequal %}
  <img src="/media/{{i.image}}"  id="im{{i.id}}" class="card-img-top" alt="{{i.mrp}}" height="400px">
  <div class="card-body">
    <h5 class="card-title" id="ti{{i.id}}">{{i.title}}</h5>
      <input type="hidden" value="{{i.availableQuantity}}" id="av{{i.id}}">
    <p class="card-text">{{i.description|slice:":150"}}...</p>
      <!--<div class="row">-->
      <table>
          <tr>
                <td>
          <!--<div class="col">-->
     <form class="form-inline" method="post" action="/books/description_view">
               {% csrf_token %}<input type="hidden" value="{{role}}" name="role">
  <button type="submit"  class="btn btn-primary">View</button>
      <input type="hidden" value="{{i.id}}" name="bid">
         <input type="hidden" name="username" value="{{username}}">
      </form>
          </td>
              <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
  <!--</div>-->
          <!--<div class="col">-->
              <td>
                  {% ifnotequal 0 i.availableQuantity %}
      <button  class="btn btn-warning cart" id="{{i.id}}">ADD TO CART</button>
            {% endifnotequal %}
                  {% ifequal 0 i.availableQuantity %}
      <button  class="btn btn-warning cart" id="{{i.id}}" disabled>ADD TO CART</button>
            {% endifequal %}
                   </td>
                  <div id="wr{{i.id}}" class="row"></div>

          <!--</div>-->
  <!--</div>-->
           </tr>
    </table>
      </div>

    </div>
</div>
        {% if forloop.counter|divisibleby:4 and not forloop.last %}
        </div><div class="row mb-4 ml-4">
        {% endif %}
    {%endfor%}
    </div>
    {% endfor %}


{% endblock %}
{% block js %}
<script>

//localStorage.setItem('username','{{username}}');
if(localStorage.getItem('cart')==null){
    var cart={};

}
else
{
    cart=JSON.parse(localStorage.getItem('cart'));
}
$(function()
{
$('.cart').click(function()
{
var idstr=this.id.toString();
var name=$('#'+'ti'+idstr).text()
var img=$('#'+'im'+idstr).attr('src')
var avlqty=$('#'+'av'+idstr).val()
var price=$('#'+'im'+idstr).attr('alt')
$('#'+'wr'+idstr).html('<p style="color:green;" <b>Item Added To Cart Succesfully</b></p>')
if(cart[idstr]!=undefined){
    item=cart[idstr]
    item[0]=item[0]+1;
    item[1]=name
    item[2]=img
    item[3]=price
    item[4]=idstr
    item[5]='{{username}}'
    item[6]=item[6]-1;
    item[7]=avlqty
    cart[idstr]=item;

}

else
{
 var item=[];
item[0]=1; //0th index is quantity
item[1]=name; //1st index is name
item[2]=img //2nd index is image
item[3]=price//3rd index is price
item[4]=idstr //4th index is id
item[5]='{{username}}' //5th index is  username
item[6]=avlqty-1 //6th item is available quantity
item[7]=avlqty //6th item is available quantity that is unmodified during user actions
cart[idstr]=item;
}



localStorage.setItem('cart',JSON.stringify(cart));
console.log(cart)
console.log(item)
});






     $('#cust_logout').click(function(){
localStorage.removeItem('cart','chkcart');

})

//window.onunload=function(){
//localStorage.removeItem('cart','chkcart');
//}
});
</script>
{% endblock %}