<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Hello, world!</title>
  </head>
  <body>
  <nav class="navbar navbar-expand-lg sticky-top navbar-dark bg-dark">
  <a class="navbar-brand" href="#">LIBARY AND BOOK STORE</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-tarpost="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav">
  <li class="nav-item">
    <a class="nav-link" href="/">HOME</a>
  </li>


</ul>
        </div>



</nav>
  <br><br>
  <center>
  <form method="post" action="/customer_login/password_retrival_page">
            {% csrf_token %}
      <table>
          <tr>
              <td>Enter your email:</td>
              <td><input type="text" required name="username"></td>
          </tr>

           <tr>
              <td>Enter your lastname:</td>
              <td><input type="text" required name="lname"></td>
          </tr>
      </table>
      <br><br>
      <button type="submit" class="btn btn-danger">Confirm</button>
      <div style="color:red;"> {{error_data}}</div>
  </form>
      </center>
  </body>