{% extends 'base.html' %}
{% block title %}Orders{% endblock %}
{% block nav_title %} WELCOME {{username}} {% endblock %}
{% block nav_items %}

<div class="collapse navbar-collapse justify-content-end" id="navbarNav">

    <ul class="navbar-nav">
        <li>
         <form method="post" action="/admin_login/after_login">
             {% csrf_token %}
             <input type="hidden" value="{{role}}" name="role">
             <input type="hidden" value="{{username}}" name="username">
             <button style="background-color:transparent; border:0;" class="nav-link">Home</button>
         </form>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle active"  id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">More Options</a>
            <div class="dropdown-menu bg-dark" aria-labelledby="navbarDropdownMenuLink">
                 <a class="dropdown-item bg-dark">
                   <form method="post" action="/admin_login/view_profile">
                        {% csrf_token %}
                       <input type="hidden" value="{{role}}" name="role">
                       <input type="hidden" value="{{username}}" name="username">
                       <button style="background-color:transparent; border:0;" class="nav-link">My Profile</button>
                   </form>
                 </a>

                 <a class="dropdown-item bg-dark">
                     <form method="post" action="/admin_login/change_password">
                               {% csrf_token %}
                         <input type="hidden" value="{{role}}" name="role">
                         <input type="hidden" name="username" value="{{username}}">
                         <button style="background-color:transparent; border:0;" class="nav-link" id="chngpass">Change Password</button>
                     </form>
                 </a>

                 <a class="dropdown-item bg-dark">
                    <form method="post" action="/employee_login/register">
                              {% csrf_token %}
                        <input type="hidden" value="{{role}}" name="role">
                        <input type="hidden" name="username" value="{{username}}">
                        <button type="submit" class="nav-link" style="background-color:transparent; border:0;"> Register Employee</button>
                    </form>
                 </a>

                 <a class="dropdown-item bg-dark">
                     <form method="post" action="/admin_login/view_orders">
                               {% csrf_token %}
                         <input type="hidden" value="{{role}}" name="role">
                         <button type="submit" style="background-color:transparent; border:0;" id="view_orders" class="nav-link active">View orders</button>
                         <input type="hidden" value="{{username}}" name="username">
                     </form>
                 </a>

                 <a class="dropdown-item bg-dark">
                     <form method="post" action="/admin_login/view_feedbacks">
                               {% csrf_token %}
                         <input type="hidden" value="{{role}}" name="role">
                         <button type="submit" style="background-color:transparent; border:0;" id="view_feedback" class="nav-link">Feedbacks</button>
                         <input type="hidden" value="{{username}}" name="username">
                     </form>
                 </a>
            </div>
        </li>

        <li class="nav-item">
            <form method="post" action="/admin_login/view_employees">
                           {% csrf_token %}
                <input type="hidden" value="{{role}}" name="role">
                <input type="hidden" name="username" value="{{username}}">
                <button style="background-color:transparent; border:0;" class="nav-link" id="emp_info">Employees Info</button>
            </form>
        </li>

        <li class="nav-item">
              <form method="post" action="/admin_login/about_us">
                        {% csrf_token %}
                  <input type="hidden" value="{{role}}" name="role">
                  <input type="hidden" value="{{username}}" name="username">
                 <button type="submit" class="nav-link" style="background-color:transparent; border:0;">About</button>
              </form>
        </li>

        <li class="nav-item">
              <form method="post" action="/admin_login/contact_us">
                        {% csrf_token %}
                  <input type="hidden" value="{{role}}" name="role">
                  <input type="hidden" value="{{username}}" name="username">
                <button type="submit" class="nav-link" style="background-color:transparent; border:0;">Contact Us</button>
              </form>
        </li>

        <li class="nav-item">
                 <form method="post" action="/customer_login/user_logout">
                           {% csrf_token %}
                     <input type="hidden" value="{{role}}" name="role">
                     <input type="hidden" value="{{username}}" name="username">
                     <button class="nav-link" style="background-color:transparent; border:0;"  id="emp_logout">Logout</button>
                 </form>
        </li>
    </ul>
</div>
{% endblock %}

{% block body %}
<h1><center><b><u>ORDER DETAILS</u></b></center></h1>
<br><br>
  <div class="container">

    <div class="row">
      <!--<div class="col">-->
    <!--<img src="/media/{{product.img}}" height="200px" width="200px" style=" padding-left:10px; padding-top:10px; padding-bottom:10px;">-->
    <!--</div>-->
    <div class="col">
        <table class="table">

            <thead class="thead-dark">
            <tr>
                <th scope="col">EMAIL</th>
                <th scope="col">ORDER ID</th>
                <th scope="col">ORDER NAME</th>
                <th scope="col">QUANTITY</th>
                <th scope="col">ADDRESS</th>
            </tr>
            </thead>
            <tbody>
           {% for order in orders %}
             <tr>
                 <th scope="row">{{order.email}}</th>
                <td>{{order.orderId}}</td>
                <td>{{order.orderName}}</td>
                <td>{{order.quantity}}</td>
                <td>{{order.address}}</td>

            {% endfor %}
            </tbody>
        </table>
    </div>
    </div>



    <br><br>
 </div>
{% endblock %}
{% block js %}
<script>
        $('#emp_logout').click(function(){
localStorage.removeItem('cart','chkcart');

})

window.onunload=function(){
localStorage.removeItem('cart','chkcart');
}
</script>
{% endblock %}