{% extends 'base.html' %}
{% block title %}Update Admin{% endblock %}
{% block nav_title %} WELCOME {{username}} {% endblock %}
{% block nav_items %}

<div class="collapse navbar-collapse justify-content-end" id="navbarNav">

    <ul class="navbar-nav">
        <li>
         <form method="post" action="/admin_login/after_login">
             {% csrf_token %}
             <input type="hidden" value="{{role}}" name="role">
             <input type="hidden" value="{{username}}" name="username">
             <button style="background-color:transparent; border:0;" class="nav-link">Home</button>
         </form>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle"  id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">More Options</a>
            <div class="dropdown-menu bg-dark" aria-labelledby="navbarDropdownMenuLink">
                 <a class="dropdown-item bg-dark">
                   <form method="post" action="/admin_login/view_profile">
                        {% csrf_token %}
                       <input type="hidden" value="{{role}}" name="role">
                       <input type="hidden" value="{{username}}" name="username">
                       <button style="background-color:transparent; border:0;" class="nav-link">My Profile</button>
                   </form>
                 </a>

                 <a class="dropdown-item bg-dark">
                     <form method="post" action="/admin_login/change_password">
                               {% csrf_token %}
                         <input type="hidden" value="{{role}}" name="role">
                         <input type="hidden" name="username" value="{{username}}">
                         <button style="background-color:transparent; border:0;" class="nav-link" id="chngpass">Change Password</button>
                     </form>
                 </a>

                 <a class="dropdown-item bg-dark">
                    <form method="post" action="/employee_login/register">
                              {% csrf_token %}
                        <input type="hidden" value="{{role}}" name="role">
                        <input type="hidden" name="username" value="{{username}}">
                        <button type="submit" class="nav-link" style="background-color:transparent; border:0;"> Register Employee</button>
                    </form>
                 </a>

                 <a class="dropdown-item bg-dark">
                     <form method="post" action="/admin_login/view_orders">
                               {% csrf_token %}
                         <input type="hidden" value="{{role}}" name="role">
                         <button type="submit" style="background-color:transparent; border:0;" id="view_orders" class="nav-link">View orders</button>
                         <input type="hidden" value="{{username}}" name="username">
                     </form>
                 </a>

                 <a class="dropdown-item bg-dark">
                     <form method="post" action="/admin_login/view_feedbacks">
                               {% csrf_token %}
                         <input type="hidden" value="{{role}}" name="role">
                         <button type="submit" style="background-color:transparent; border:0;" id="view_feedback" class="nav-link">Feedbacks</button>
                         <input type="hidden" value="{{username}}" name="username">
                     </form>
                 </a>
            </div>
        </li>

        <li class="nav-item">
            <form method="post" action="/admin_login/view_employees">
                           {% csrf_token %}
                <input type="hidden" value="{{role}}" name="role">
                <input type="hidden" name="username" value="{{username}}">
                <button style="background-color:transparent; border:0;" class="nav-link" id="emp_info">Employees Info</button>
            </form>
        </li>

        <li class="nav-item">
              <form method="post" action="/admin_login/about_us">
                        {% csrf_token %}
                  <input type="hidden" value="{{role}}" name="role">
                  <input type="hidden" value="{{username}}" name="username">
                 <button type="submit" class="nav-link" style="background-color:transparent; border:0;">About</button>
              </form>
        </li>

        <li class="nav-item">
              <form method="post" action="/admin_login/contact_us">
                        {% csrf_token %}
                  <input type="hidden" value="{{role}}" name="role">
                  <input type="hidden" value="{{username}}" name="username">
                <button type="submit" class="nav-link" style="background-color:transparent; border:0;">Contact Us</button>
              </form>
        </li>

        <li class="nav-item">
                 <form method="post" action="/customer_login/user_logout">
                           {% csrf_token %}
                     <input type="hidden" value="{{role}}" name="role">
                     <input type="hidden" value="{{username}}" name="username">
                     <button class="nav-link" style="background-color:transparent; border:0;"  id="emp_logout">Logout</button>
                 </form>
        </li>
    </ul>
</div>
{% endblock %}
{% block body %}
<div class="container">
    <center>
    <form method="post" id="form" action="/admin_login/update_adm_profile" enctype="multipart/form-data">
        {% csrf_token %}<input type="hidden" value="{{role}}" name="role">

    <table>
        <tr class="table">
            <th>First Name:</th>
            <td><input type="text" name="fname" id="i1" value="{{adm.firstName}}" disabled></td>
            <td><input type="button" id="e1" class="btn ebn btn-success" value="EDIT"></td>
            <td><input type="button" id="c1" class="btn ebc btn-warning" value="CONFIRM" style="display: none;"style="display: none;"></td>
            <td><div style="color:red;" id="err1"></div></td>
            </tr>

          <tr class="table">
            <th>Middle Name:</th>
            <td><input type="text" name="mname" id="i2" value="{{adm.middleName}}" disabled></td>
            <td><input type="button" id="e2" class="btn ebn btn-success" value="EDIT"></td>
            <td><input type="button" id="c2" class="btn ebc btn-warning" value="CONFIRM" style="display: none;"style="display: none;"></td>
            <td><div style="color:red;" id="err2"></div></td>
            </tr>

          <tr class="table">
            <th>Last Name:</th>
            <td><input type="text" name="lname" id="i3" value="{{adm.lastName}}" disabled></td>
            <td><input type="button" id="e3" class="btn ebn btn-success" value="EDIT"></td>
            <td><input type="button" id="c3" class="btn ebc btn-warning" value="CONFIRM" style="display: none;"style="display: none;"></td>
            <td><div style="color:red;" id="err3"></div></td>
            </tr>

          <tr class="table">
            <th>Mobile Number:</th>
            <td><input type="text" name="mobno" id="i4" value="{{adm.mobileNo}}" disabled></td>
            <td><input type="button" id="e4" class="btn ebn btn-success" value="EDIT"></td>
            <td><input type="button" id="c4" class="btn ebc btn-warning" value="CONFIRM" style="display: none;"style="display: none;"></td>
            <td><div style="color:red;" id="err4"></div></td>
            </tr>


              <tr class="table">
            <th>Email Address:</th>
            <td><input type="text" name="email" id="i6" value="{{adm.emailAdd}}" disabled></td>
            <td><input type="button" id="e6" class="btn ebn btn-success" value="EDIT"></td>
            <td><input type="button" id="c6" class="btn ebc btn-warning" value="CONFIRM" style="display: none;"style="display: none;"></td>
            <td><div style="color:red;" id="err6">{{error}}</div></td>
            </tr>

          <tr class="table">
            <th>Age:</th>
            <td><input type="number" name="age" id="i7" value="{{adm.age}}" disabled></td>
            <td><input type="button" id="e7" class="btn ebn btn-success" value="EDIT"></td>
            <td><input type="button" id="c7" class="btn ebc btn-warning" value="CONFIRM" style="display: none;"style="display: none;"></td>
            <td><div style="color:red;" id="err7"></div></td>
            </tr>

          <tr class="table">
            <th>Temporary Address:</th>
            <td><input type="text" name="tempadd" id="i8" value="{{adm.temporaryAddress}}" disabled></td>
            <td><input type="button" id="e8" class="btn ebn btn-success" value="EDIT"></td>
            <td><input type="button" id="c8" class="btn ebc btn-warning" value="CONFIRM" style="display: none;"style="display: none;"></td>
            <td><div style="color:red;" id="err8"></div></td>
            </tr>

          <tr class="table">
            <th>Pincode:</th>
            <td><input type="text" name="tpin" id="i9" value="{{adm.tPincode}}" disabled></td>
            <td><input type="button" id="e9" class="btn ebn btn-success" value="EDIT"></td>
            <td><input type="button" id="c9" class="btn ebc btn-warning" value="CONFIRM" style="display: none;"style="display: none;"></td>
            <td><div style="color:red;" id="err9"></div></td>
            </tr>
          <tr class="table">
            <th>Permanent Address:</th>
            <td><input type="text" name="permadd" id="i10" value="{{adm.permanentAddress}}" disabled></td>
            <td><input type="button" id="e10" class="btn ebn btn-success" value="EDIT"></td>
            <td><input type="button" id="c10" class="btn ebc btn-warning" value="CONFIRM" style="display: none;"style="display: none;"></td>
            <td><div style="color:red;" id="err10"></div></td>
            </tr>
  <tr class="table">
            <th>Pincode:</th>
            <td><input type="text" name="ppin" id="i11" value="{{adm.pPincode}}" disabled></td>
            <td><input type="button" id="e11" class="btn ebn btn-success" value="EDIT"></td>
            <td><input type="button" id="c11" class="btn ebc btn-warning" value="CONFIRM" style="display: none;"style="display: none;"></td>
            <td><div style="color:red;" id="err11"></div></td>
            </tr>
  <tr class="table">
            <th>Gender:</th>

        <td><input type="radio" disabled name="gender" value="Male" id="genm">Male&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <input type="radio" disabled name="gender" value="Female" id="genf">Female
        <input type="radio" disabled name="gender" value="Others" id="geno">Others

        </td>

      <td><input type="button" id="e12" class="btn ebs btn-success" value="EDIT"></td>
            <td><input type="button" id="c12" class="btn ebc btn-warning" value="CONFIRM" style="display: none;"></td>
         <td><div style="color:red;" id="err12"></div></td>
        </tr>



         <tr class="table">
            <th>Experience:</th>
            <td><input type="text" name="exp" id="i14" value="{{adm.experience}}" disabled></td>
            <td><input type="button" id="e14" class="btn ebn btn-success" value="EDIT"></td>
            <td><input type="button" id="c14" class="btn ebc btn-warning" value="CONFIRM" style="display: none;"style="display: none;"></td>
            <td><div style="color:red;" id="err14"></div></td>
            </tr>
  <tr class="table">



    </table>



    <!--Upload Image :<input type="text" id="i13" value="{{book.image}}" disabled>-->
        <!--<td><input type="button" id="e13" class="btn ebi btn-success" value="EDIT"></td>-->
        <!--<div id="image13" hidden>{{form.image}}</div>-->
      <!--<td><input type="button" id="c13" class="btn ebc btn-warning" value="CONFIRM" hidden></td>-->

         <input value="{{username}}" type="hidden" name="admin">
        <br>
        <div style="color:red" id="upderr"></div>
        <br>
        <button type="submit" id="updt" class="btn btn-warning">UPDATE</button>

    </form>
    </center>
</div>
<br><br>
{% endblock %}

{% block js %}
<script>
        $(function(){
      var $pincode=/^[1-9][0-9]{5}$/;
      var $mobile=/^[0-9]{10,15}$/;

         if ('{{adm.gender}}' == 'Male')
            {
                $('#genm').prop("checked",true);
            }
            else if('{{adm.gender}}' == 'Female'){
                $('#genf').prop("checked",true);
            }
            else
            {
            $('#geno').prop("checked",true);
            }

            $('.ebn').click(function(){

               var eid=this.id.toString().slice(1,);
                console.log(eid)
                $('#'+'i'+eid).prop("disabled",false);
                $('#'+'e'+eid).css("display","none");
                $('#'+'c'+eid).css("display","block");




            });

             $('.ebc').click(function(){

               var eid=this.id.toString().slice(1,);
                console.log(eid)
                if(eid!='9' && eid!='11' && eid!='4')
                {
                if($('#'+'i'+eid).val()=="" )

                {
                $('#err'+eid).text('Please enter some value')
                 return false
                }
                else{
                $('#err'+eid).text('')
                $('#'+'i'+eid).prop("disabled",true);

                $('#'+'c'+eid).css("display","none");
                 $('#'+'e'+eid).css("display","block");
                 }
                 }
                 });

            $('#c4').click(function(){
            if(!$('#i4').val().match($mobile))
            {
            $('#err4').text('Please enter a valid mobile number')
            }
            else{
            $('#err4').text('');
             $('#i4').prop("disabled",true);

                $('#c4').css("display","none");
                 $('#e4').css("display","block");
            }
            });

             $('#c9').click(function(){
            if(!$('#i9').val().match($pincode))
            {
            $('#err9').text('Please enter a valid pincode')
            }
            else{
            $('#err9').text('');
             $('#i9').prop("disabled",true);

                $('#c9').css("display","none");
                 $('#e9').css("display","block");

            }
            });

             $('#c11').click(function(){
            if(!$('#i11').val().match($pincode))
            {
            $('#err11').text('Please enter a valid pincode')
            }
            else{
            $('#err11').text('');
             $('#i11').prop("disabled",true);

                $('#c11').css("display","none");
                 $('#e11').css("display","block");

            }
          });

            $('#e12').click(function(){
                $('#genm,#genf,#geno').prop("disabled",false);
                $('#e12').css("display","none");
                $('#c12').css("display","block");

            });

            $('#c12').click(function(){
                $('#genm,#genf,#geno').prop("disabled",true);
                $('#c12').css("display","none");
                $('#e12').css("display","block");

            });

            $('#updt').click(function(){
                if(!($('#c1').is(':hidden') && $('#c2').is(':hidden') && $('#c3').is(':hidden') && $('#c4').is(':hidden') && $('#c6').is(':hidden') && $('#c7').is(':hidden') && $('#c8').is(':hidden') && $('#c9').is(':hidden') && $('#c10').is(':hidden') && $('#c11').is(':hidden') && $('#c12').is(':hidden') && $('#c14').is(':hidden')))
                {
                 $('#upderr').text('Please conform all your updates before updating your profile');
                  return false;
                }
                else{
                $('#upderr').text('');
                alert('Your profile has been updated succesfully')
                $('#i1,#i2,#i3,#i4,#i6,#i7,#i8,#i9,#i10,#i11,#genm,#genf,#geno,#i14').prop("disabled",false);
                 }



            });




    $('#emp_logout').click(function(){
localStorage.removeItem('cart','chkcart');

})

window.onunload=function(){
localStorage.removeItem('cart','chkcart');
}
         });



</script>
{% endblock %}